:root {
  --primary: #85beff;
  --secondary: #2ecc71;
  --font-01: #fff;
  --font-02: #111;
  --font-03: #555;
  --font-04: #767676;
  --font-05: #999;
  --font-06: #ccc;
  --line-01: #eee;
  --line-02: #e2e4e6;
  --line-03: #d4d4d4;
  --black: #111;
  --font-primary: #333;
}